.header{
    background-image: url(images/banner_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rgb(79, 73, 73); */
    /* background:rgba(16, 15, 15, 0.7); */
}

.btn-search{
    margin-left: -60px;
    margin-top: -5px;
}

.card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}